/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* regole macroelementi */
.background-top{
  background-color: rgb(30, 219, 203);
  height: 20vh;
}
.background-bot{
  background-color: lightgrey;
  height: 80vh;
}
.container{
  position: relative;
}
/* contenitore web app */
#app{
  min-height: 90%;
  min-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* debug */
  /* background-color: white; */
  /* debug */
}
/* misure x tutte le img(foto contatti)*/
img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
/* div che contiene i 2 macroblocchi flexxati */
main{
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

/* debug dei 2 macroblocchi flexxati */
/* [class*="macro-"] {
  min-height: 100px;
  max-height: 100%;
  border: solid 1px black;
  padding: 2px;
  text-align: center;
} */
/* fine debug */

.macro-sx{
  width: 35%;
  background-color: white;
}
.macro-dx{
  width: 65%;
  background-image: url(../img/mine.jpg);
}

/* debug div dei due macroblocchi app */
/* .macro-sx div{
  min-height: 80px;
  background-color: lightblue;
  border: 1px solid black;
} */
/* .macro-dx div{
  min-height: 100px;
  background-color: green;
  border: 1px solid black;
} */

/* CLASSI USATE SU ENTRAMBI MACRO */
/* head dei 2 macroelementi */
.head{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
}
/* fotouser con nome usato su entrambi head */
/* icone usate su entrambi head macroelementi */
.user, .icons{
  display: flex;
  align-items: center;
}
.macro-sx .user h5{
  margin-left: 10px;
}
.icons a{
  margin: 0 10px;
}
/* banner x attivazione notitiche */
#banner{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: lightblue;
  height: 60px;
}
#banner a{
  margin: 0 30px;
}
/* barra di ricerca contatti */
.ricerca-contatti{
  display: flex;
  height: 40px;
}
.ricerca-contatti button{
  width: 15%;
  background-color: white;
}
.ricerca-contatti input{
  width: 85%;
}

/* sezione chat aperte */
.chats{
  padding: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 100px;
  max-height: 350px;
}
/* ogni chat delle chats aperte */
.head-friend{
  padding: 2px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.interlocutore{
  align-self: flex-start;
  margin-top: 5px;
  margin-right: 150px;
}
.datetimes{
  align-self: flex-start;
}
.datetimes h6{
  color: grey;
}



/* sezione chat, MACROBLOCCO DESTRO */
header{
  border: 1px solid black;
}
.mainchat{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 350px;
  max-height: 350px;
  border: 1px solid lightgrey;
}
.macro-dx .interlocutore{
  margin-left: 10px;
}

/* misure chat */
.bloccochat{
  display: flex;
  padding: 20px;
}
.chatmin{
  width: 40%;
}
.chatmax{
  width: 60%;
}
/* chat user */
.user p, .datetimes{
  text-align: right;
}
.user .chatmax{
  background-color: lightgreen;
  border-radius: 5px;
  padding: 10px;
}
.speaker .chatmax{
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.mainchat .datetimes{
  margin-top: 5px;
}


.foot{
  display: flex;
  background-color: white;
  height: 70px;
}
.foot a > i{
  color: grey;
}
.inputchat{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputchat input{
  width: 100%;
  height: 80%;
}
.emo, .vocale{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* REGOLE MEDIA QUERIES */
/* REGOLE MEDIA QUERIES PARTICOLARI */
@media all and (max-height: 580px){
  .background-bot{
    height: 120vh;
  }
}
